@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: linear-gradient(90deg, #331133, #113333) #222233;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffffdd;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    max-width: 1200px;
    width: 90%;
    margin-bottom: 20px;
}

nav {
    background-color: #ffffff11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #99999955;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(6px) saturate(0.8);
    -webkit-backdrop-filter: blur(6px) saturate(0.8);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:visited {
    color: #ffffff;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}

a {
    color: #00ffff;
    text-decoration: none;
}

a:visited {
    color: #ff00ff;
}

a:hover {
    text-decoration: underline;
}

.name {
    font-size: 150px;
    font-weight: 700;
    color: #00000022;
    margin-bottom: 60px;
    margin-top: 110px;
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 3px #ffffff;
}

.content {
    display: flex;
    align-items: center;
}

.subtitle {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    align-items: left;
    margin-top: 100px
}

.subsubtitle {
    margin-top: 100px;
    align-items: left;
}

.paragraph {
    text-align: justify;
    flex: 1;
}

.wip {
    color: #ffffff44;
    font-style: italic;
}

.pfp {
    border-radius: 50%;
    max-width: 300px;
    margin-left: 20px;
}

.icon {
    max-width: 100px;
    margin: 10px;
    border-radius: 25%;
}

.project-title {
    font-weight: 700;
    margin: 0px;
    color: #ffffff;
    text-align: left;
}

.material-icons {
    vertical-align: middle;
    margin-right: 10px;
}

.disguised_link {
    color: #ffffffdd;
    text-decoration: none;
}

.disguised_link:visited {
    color: #ffffffdd;
    text-decoration: none;
}

.disguised_link:hover {
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    animation: fade 0.6s ease-in forwards;
}
  
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}